    <div class="col-sm-3 col-md-3 col-lg-6">
      <form>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-search"></i></div>
          <input type="text" class="form-control" placeholder="Search container" ng-model="searchName">
        </div>
      </div>
      </form>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-2">
      <form>
        <div class="form-group form-inline">
          <label for="selectProfile">Profile: </label>
          <select class="form-control" id="selectProfile" ng-model="searchProfile" ng-options="profile.name for profile in profiles">
            <option></option>
         </select>
        </div>
      </form>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-2">
      <form>
        <div class="form-group form-inline">
          <label for="selectEphemeral">Ephemeral: </label>
          <select class="form-control" ng-model="searchEphemeral" id="selectEphemeral">
            <option></option>
            <option>true</option>
            <option>false</option>
          </select>
        </div>
      </form>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-2">
      <form>
        <div class="form-group form-inline">
          <label for="selectStatusl">Status: </label>
          <select class="form-control" ng-model="searchStatus" id="selectStatusl">
            <option></option>
            <option>Running</option>
            <option>Stopped</option>
          </select>
        </div>
      </form>
    </div>

    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <td>
            <b>Name</b>
          </td>
          <td class="hidden-xs">
            <b>Profiles</b>
          </td>
          <td class="hidden-xs">
            <b>Ephemeral</b>
          </td>
          <td class="hidden-xs">
            <b>Status</b>
          </td>
          <td>
          </td>
          <td>
            <b>Control</b>
          </td>
          <td>
            <b>Actions</b>
          </td>
        </tr>
      </thead>
      <tbody>
      <!-- <div class="row bottomline" ng-repeat="container in containers">
        <div class="row">
          <div class="col-md-3 col-xs-3"> {{container.name}} </div>
        </div>
      </div> -->
        <tr ng-repeat="container in containers | orderBy:'name' | filter:searchName | filter:{ephemeral:searchEphemeral} | filter:searchStatus | filter:searchProfile.name">
            <td class="vert-align">{{ container.name }}</td>
            <td class="vert-align hidden-xs">
              <div ng-repeat="profile in container.profiles">
                {{profile}}
              </div>
            </td>
            <td class="vert-align hidden-xs">{{ container.ephemeral }}</td>
            <td class="vert-align hidden-xs">{{ container.status }}</td>
            <td>
              <a type="button" class="btn btn-sm btn-default" ng-href="#!/container/{{container.name}}">
                <i class="fa fa-tasks" aria-hidden="true"></i> <span class="hidden-xs hidden-sm">DETAILS</span>
              </a>
            </td>
            <td>
              <button type="button" class="btn btn-sm btn-success" ng-click="changeState(container, 'start')" ng-show="container.status == 'Stopped'" ng-disabled="container.disabled">
                <i class="fa fa-play" aria-hidden="true"></i> <span class="hidden-xs hidden-sm">START</span>
              </button>
              <button type="button" class="btn btn-sm btn-danger" ng-click="changeState(container, 'stop')" ng-show="container.status == 'Running'" ng-disabled="container.disabled">
                <i class="fa fa-stop" aria-hidden="true"></i> <span class="hidden-xs hidden-sm">STOP</span>
              </button>
              <button type="button" class="btn btn-sm btn-warning" ng-click="changeState(container, 'restart')" ng-show="container.status == 'Running'" ng-disabled="container.disabled">
                <i class="fa fa-refresh" aria-hidden="true"></i> <span class="hidden-xs hidden-sm">RESTART</span>
              </button>
            </td>
            <td>
                <a type="button" class="btn btn-sm btn-primary" ng-href="#!/container-snapshots/{{container.name}}" ng-disabled="container.disabled">
                  <i class="fa fa-undo" aria-hidden="true"></i> <span class="hidden-xs">SNAPSHOTS</span>
                </a>
              <!-- <a type="button" class="btn btn-info" ng-href="#!/terminal/{{container.name}}" ng-show="container.status == 'Running'" ng-disabled="container.disabled">
                <i class="fa fa-terminal" aria-hidden="true"></i> <span class="hidden-xs">Terminal</span>
              </a> -->
                <div class="btn-group" ng-show="container.status == 'Running'" ng-disabled="container.disabled">
                  <button class="btn btn-sm btn-info dropdown-toggle" type="button" id="dropdownTerminalMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      <i class="fa fa-terminal" aria-hidden="true"></i> <span class="hidden-xs">TERMINAL </span><span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownTerminalMenu">
                    <li><a href="#!/terminal/{{container.name}}/bash">Bash</a></li>
                    <li><a href="#!/terminal/{{container.name}}/sh">Sh</a></li>
                  </ul>
                </div>
                <button type="button" class="btn btn-sm btn-warning" ng-click="createImage(container)" ng-show="container.status == 'Stopped'" ng-disabled="container.disabled">
                  <i class="fa fa-angle-right" aria-hidden="true"></i> <span class="hidden-xs">TO IMAGE</span>
                </button>
            </td>
            <!-- <td>
              <button type="button" class="btn btn-danger" ng-click="delete(container)" ng-show="container.status == 'Stopped'" ng-disabled="container.disabled">
                <i class="fa fa-times" aria-hidden="true"></i> <span class="hidden-xs">Delete</span>
              </button>
              <a type="button" class="btn btn-primary" ng-href="#!/container-snapshots/{{container.name}}" ng-disabled="container.disabled">
                <i class="fa fa-undo" aria-hidden="true"></i> <span class="hidden-xs">Snapshots</span>
              </a>
              <a type="button" class="btn btn-info" ng-href="#!/terminal/{{container.name}}" ng-show="container.status == 'Running'" ng-disabled="container.disabled">
                <i class="fa fa-terminal" aria-hidden="true"></i> <span class="hidden-xs">Terminal</span>
              </a>
              <button type="button" class="btn btn-info" ng-click="createImage(container)" ng-show="container.status == 'Stopped'" ng-disabled="container.disabled">
                <i class="fa fa-angle-right" aria-hidden="true"></i> <span class="hidden-xs">To Image</span>
              </button>
            </td> -->

        </tr>
      </tbody>
    </table>
