<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>LXD Admin</title>
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:600" rel="stylesheet">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="bower_components/angular-ui/build/angular-ui.min.css">
    <link rel="stylesheet" href="assets/styles/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.min.css">
    <link rel="stylesheet" href="assets/xterm.css">
    <style media="screen">
      body {
        font-family: 'Titillium Web', sans-serif;
        padding-top: 70px;
        padding-bottom: 70px;
      }
      .table tbody>tr>td.vert-align{
        vertical-align: middle;
      }
    </style>
    <style type="text/css">.uib-time input{width:0px;}</style>
  </head>
  <body ng-app="lxdAdmin" >
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><i class="fa fa-cloud" aria-hidden="true"></i> LXD Admin</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
          <ul class="nav navbar-nav">
            <li><a href="#!/container-create"><i class="fa fa-desktop" aria-hidden="true"></i> Create Container</a></li>
            <li><a href="#!/containers"><i class="fa fa-list" aria-hidden="true"></i> Containers</a></li>
            <li><a href="#!/images"><i class="fa fa-database" aria-hidden="true"></i> Images</a></li>
            <li><a href="#!/remote"><i class="fa fa-download" aria-hidden="true"></i> Remote Images</a></li>
          </ul>
          <!-- <ul class="nav navbar-nav navbar-right">
            <li><a href="#"></a></li>
          </ul> -->
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div ng-view=""></div>
      </div>
    </div>
    <div class="navbar navbar-default navbar-fixed-bottom" style="padding-bottom: 50px;" ng-controller="operationListCtrl">
          Operations
          <button type="button" name="button" class="btn btn-xs btn-primary pull-right" ng-click="showOperations = ! showOperations">
            <i class="fa fa-caret-square-o-up" aria-hidden="true" ng-hide="showOperations"></i>
            <i class="fa fa-caret-square-o-down" aria-hidden="true" ng-show="showOperations"></i>

          </button>
          <div ng-show="showOperations">
            <div class="row">
                <div class="col-md-12" ng-show="operations.length > 0">
                    <table class="table table-condensed">
                        <thead>
                        <th class="col-md-4">Operation</th>
                        <th class="col-md-4">Class</th>
                        <th class="col-md-3">Metadata</th>
                        </thead>

                        <tbody>
                            <tr ng-repeat="operation in operations | orderBy:'updated_at'">
                                <td>
                                    <b>{{operation.id}}</b>
                                </td>
                                <td>
                                    <b>{{operation.class}}</b>
                                </td>
                                <td>
                                  Status: running {{operation.metadata.download_progress}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
          </div>
    </div>
    <div class="navbar navbar-default navbar-fixed-bottom">
          <div class="text-center text-disabled">
            <br>
            <small>Copyright © 2016-2017 <a href="http://teseyko.com/" target="_blank">Alexander Teseyko</a></small>
          </div>
    </div>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js" charset="utf-8"></script>
    <script src="bower_components/angular-loading-bar/build/loading-bar.min.js" charset="utf-8"></script>

    <script src="assets/xterm.js"></script>
    <script src="assets/xterm-addon-fit.js"></script>

    <script src="app.js"></script>

    <script src="modules/containers/containersCtrl.js"></script>
    <script src="modules/containers/containersService.js"></script>

    <script src="modules/images/imagesCtrl.js"></script>
    <script src="modules/images/imagesService.js"></script>

    <script src="modules/remote/remoteCtrl.js"></script>
    <script src="modules/remote/remoteService.js"></script>

    <script src="modules/terminal/terminalCtrl.js" charset="utf-8"></script>
    <script src="modules/terminal/terminalService.js" charset="utf-8"></script>

    <script src="modules/profile/profileCtrl.js" charset="utf-8"></script>
    <script src="modules/profile/profileService.js" charset="utf-8"></script>

    <script src="modules/operations/operationCtrl.js" charset="utf-8"></script>
    <script src="modules/operations/operationService.js" charset="utf-8"></script>
  </body>
</html>
