
  <div class="col-sm-6 col-sm-offset-3" ng-show="loading">
    <div class="alert alert-success">
      <i class="fa fa-spinner" aria-hidden="true"></i> Loading from remote server...
    </div>
  </div>

  <div class="col-sm-10" ng-hide="loading">
    <form>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-search"></i></div>
          <input type="text" class="form-control" placeholder="Search image" ng-model="searchName">
        </div>
      </div>
    </form>
  </div>
  <div class="col-sm-2" ng-hide="loading">
    <form>
      <div class="form-group">
        <select class="form-control" ng-model="archName">
          <option>amd64</option>
          <option>x86_64</option>
          <option>i386</option>
          <option>i686</option>
          <option>armhf</option>
          <option>arm64</option>
          <option>ppc64el</option>
          <option>armv7l</option>
          <option>ppc</option>
          <option>s390x</option>
        </select>
      </div>
    </form>
  </div>

  <table class="table table-striped table-hover" ng-hide="loading">
    <thead>
      <tr>
        <td>
          <b>Hash</b>
        </td>
        <td>
          <b>Alias</b>
        </td>
        <td class="hidden-xs">
          <b>Description</b>
        </td>
        <td class="hidden-xs">
          <b>OS</b>
        </td>
        <td class="hidden-xs">
          <b>Size</b>
        </td>
        <!-- <td>
          <b>Action</b>
        </td> -->
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="image in images  | filter: searchName | filter: archName">
          <td><b>{{image.fingerprint | limitTo:12}}</b></td>
          <td>
              <div class="" ng-repeat="alias in image.aliases">
                  {{alias.name}}
              </div>
          </td>
          <td class="hidden-xs">{{ image.properties.description }}</td>
          <td class="hidden-xs">
            {{image.properties.os}} {{image.properties.release}} {{image.properties.version}}
          </td>
          <td class="hidden-xs"> {{image.size/1024/1024 | number:3}} Mb</td>
          <td class="hidden-xs"> {{image.uploaded_at}}</td>
          <!-- <td>
            <a href="" class="btn btn-success"  data-toggle="modal" data-target="#modalNewContainer" ng-click="openNewContainer(image.fingerprint)">
               <i class="fa fa-desktop" aria-hidden="true"></i> <span class="hidden-xs">New container</span></a>
          </td> -->
          <td>
            <button type="button" class="btn btn-sm btn-info" ng-click="download(image)" ng-disabled="buttons_state">
              <i class="fa fa-download" aria-hidden="true"></i> <span class="hidden-xs">DOWNLOAD</span>
            </button>
          </td>
      </tr>
    </tbody>
  </table>
