<div class="col-sm-12">
  <form>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon"><i class="fa fa-search"></i></div>
      <input type="text" class="form-control" placeholder="Search image" ng-model="searchName">
    </div>
  </div>
  </form>
</div>

<div class="col-sm-12">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <td>
          <b>Hash</b>
        </td>
        <td>
          <b>Alias</b>
        </td>
        <td class="hidden-xs">
          <b>Description</b>
        </td>
        <td class="hidden-xs">
          <b>OS</b>
        </td>
        <td class="hidden-xs">
          <b>Size</b>
        </td>
        <!-- <td>
          <b>Action</b>
        </td> -->
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="image in images | orderBy:'fingerprint' | filter:searchName">
          <td><b>{{image.fingerprint | limitTo:12}}</b></td>
          <td>
              <div class="" ng-repeat="alias in image.aliases">
                  {{alias.name}}
              </div>
          </td>
          <td class="hidden-xs">{{ image.properties.description }}</td>
          <td class="hidden-xs">
            {{image.properties.os}} {{image.properties.release}} {{image.properties.version}}
          </td>
          <td class="hidden-xs"> {{image.size/1024/1024 | number:3}} Mb</td>
          <td class="hidden-xs"> {{image.uploaded_at}}</td>
          <!-- <td>
            <a href="" class="btn btn-success"  data-toggle="modal" data-target="#modalNewContainer" ng-click="openNewContainer(image.fingerprint)">
               <i class="fa fa-desktop" aria-hidden="true"></i> <span class="hidden-xs">New container</span></a>
          </td> -->
          <td>
            <button type="button" class="btn btn-sm btn-danger" ng-click="delete(image)">
              <i class="fa fa-times" aria-hidden="true"></i> <span class="hidden-xs">DELETE</span>
            </button>
          </td>
      </tr>
    </tbody>
  </table>
</div>
